<div class="h-12 bg-green-400 flex w-full items-center px-4">
    <a href="{{ path('home') }}" class="text-white font-bold">Hadrien Delphin : Développeur freelance</a>
    <div class="ml-5 p-2 border-gray-200 rounded-lg bg-gray-100 z-50 cursor-pointer" id="selector">{{ categories[0].title }}</div>
    <div class="ml-5 p-2 border-gray-200 rounded-lg bg-gray-100 flex flex-col mt-36 z-50 hidden"  id="options">
        {% for category in categories %}
            <a href="#" class="text-blue-400 py-1 px-3 hover:text-blue-500 cursor-pointer" value="{{ category.id }}">{{ category.title }}</a>
        {% endfor %}
        <a id="close_button" class="text-blue-400 p-1 hover:text-blue-500 cursor-pointer"> close </a>
    </div>
</div>


<script>

    const dropdown = document.getElementById('selector')
    const options = document.getElementById('options')
    dropdown.addEventListener('click', () => {
            options.classList.remove('hidden')
            dropdown.classList.add('hidden');
    })

    const closeButton = document.getElementById('close_button');
    closeButton.addEventListener('click', () => {
        dropdown.classList.remove('hidden')
        options.classList.add('hidden');
    })

</script>
