{% extends 'admin/base.admin.html.twig' %}

{% block body %}

    <div class="w-full h-full flex items-center justify-center">

        <table>
            <tr>
                <th>id</th>
                <th>nom</th>
                <th>actions</th>
            </tr>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.title }}</td>
                    <td>
                        <a href="{{ path('dashboard_update_category', {id : category.id}) }}" class="text-green-500 cursor-pointer">editer</a>
                        <a href="{{ path('dashboard_delete_category', {id: category.id}) }}" class="text-red-500 cursor-pointer" >supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>

{% endblock %}
